/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

header .logo img {
  max-width: 100px;
  border-radius: 50%;
}

header .main-navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header .main-navigation ul li {
  margin: 0 15px;
}

header .main-navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  transition: background 0.3s, color 0.3s;
}

header .main-navigation ul li a:hover {
  background: #575757;
  border-radius: 3px;
}

main {
  display: flex;
  justify-content: space-between;
}

#main {
  flex: 3;
  margin-right: 20px;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#popup {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

#all-show-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

#all-show-button:hover {
  background: #555;
  transform: scale(1.1);
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img {
  max-width: 100px;
  border-radius: 5px;
  margin-right: 15px;
}

.card .explaination {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.card .img {
  flex: 1;
  text-align: right;
}

.details {
  max-width: 100%;
  max-height: 100px;
  overflow: auto;
  cursor: pointer;
}

.details[open] {
  max-height: none;
}

aside#side-bar {
  flex: 1;
  max-width: 300px;
}

#search-box-container {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

#search-section {
  margin-top: 20px;
}

#search-section select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.footer-content>p>a{
  text-decoration: none;
  color: white;
}
#film-title:hover{
  cursor: pointer;

}
#film-title > a{
  text-decoration: none;
  color: #444;
}

#film-title>a:hover {
  color: #000;
}

/* Media Queries */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #main {
    margin-right: 0;
  }
}